<!doctype html>
<html>
	<body>

		<center>
		<header> <h1> Home </h1> </header>
		<br> <br>
		<h2> Priyank Arora UTA ID 1001553349</h2>
		<br>
		</center>
		<form action="/listall"> Enter Number of Queries to run: 
			<input type="number" name="range" max="1000" min="100" step="100" value="1000"> 
			<input type="submit" value="Calculate"> </form>
		<br>
		<form action="/showmag"> Enter range of Eq: 
			<input type="number" name="range1" max="10" min="0" step=".1" value="1.0"> To 
			<input type="number" name="range2" max="10" min="0" step=".1" value="5.0"> Number of Query :
			<input type="number" name="range" max="1000" min="100" step="100" value="1000">
			<input type="submit" value="Calculate"> </form>
		<br>
		<form action="/showloc"> Enter Location: 
			<input type="string" name="location" value="Hawaii"> Number of Query :
			<input type="number" name="range" max="1000" min="100" step="100" value="1000"> 
			<input type="submit" value="Calculate"> </form>
		<br>
		<form action="/showlatlong"> Enter Latitude: 
			<input type="number" name="latitude" min = "-500" max= "+500" value="100.0"> Longitude:
			<input type="number" name="longitude" min = "-500" max= "+500" value="100.0"> Km :
			<input type="number" name="km" max="1000" min="10" step="10" value="10"> Number of Query :
			<input type="number" name="range" max="10000" min="100" step="100" value="1000"> 
			<input type="submit" value="Calculate"> </form>
		<br>
		<form action="/showbwdate"> Enter Start Date: 
			<input type="date" name="start" > End Date:
			<input type="date" name="end" > Number of Query :
			<input type="number" name="range" max="10000" min="100" step="100" value="1000"> 
			<input type="submit" value="Calculate"> </form>
      		<br>
	</body>
</html>
